
<%= render "layouts/header" %>

<div class="section-header">
	<h2>The Fresh Feed</h2>
</div>

<div class="container-fluid blog-index">


		<% @blogs.each do|blog| %>

		<div class="col-12 col-md-3 card mb-3">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="<%= blog.image_url %>" class="card-img img-responsive" alt="blog-image">
				</div close image col>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title"><a href="<%= blog_path(blog.id) %>" target="_self"><%= blog.title %></a></h5>
						<p class="card-text"><%= blog.created_at.strftime("%B %e, %Y") %></p>
					</div close card body>
				</div close text col>
			</div close row>
		</div close card>
		<% end %>

</div close container>