<%= render "layouts/header" %>

<div class="container-fluid blog-post-container">
	<div class="row">

		<div class="col-12 blog-title d-flex justify-content-center">
			<h2> <%= @blog.title %></h2>
		</div>

		<div class="col clearfix">
			<img class="float-left"  src= "<%= @blog.image_url %>">
			<p> simple_format<%= @blog.content %></p>
		</div>


<%= link_to 'Back', blogs_path %>
	</div> <!-- close row -->
</div> <!-- close container -->