<%= render "layouts/header" %>

<div class="collection-owner">
	<h2><%= current_user.name %>'s Collection</h2>
</div>

<!-- main content section -->
<div class="main-content container-fluid">

	<div class="row">
    <div class="col-6 col-md-3 filter">This is where the filter stuff will go</div>

  	<div class="col-12 col-md-9 collection">
			<% @shoes.each do |shoe| %>
				<div class="shoe-container" style=
			  "background-image: url(<%= shoe.image_url %>)">

				  <div class="shoe-caption">
						<p><span class="bold"><%= shoe.name %></span></p>
					  <p><%= shoe.brand.name %></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>

</div>

<%= link_to 'Back', shoes_path %>