<%= render "layouts/header" %>

<!-- main content -->
<div class="collection-owner">
	<h2><%= @owner[0].name %>'s Collection</h2>
</div>
<div class="owner-main-content container-fluid">
	<div class="row">
<!-- filtering column -->
		<div class="col-6 col-md-3 filter">
			<div class="filter-header">
				<h1>FILTER</h1>
			</div>
<!-- sort form -->
			<div class="sort-form-container">
				<form method="GET" action="/owners/<%= @id %>" id="sorting-form">
					<label>Sort By: </label>
						<select name="sort">
						<option value="r_date">Newest</option>
						<option value="o_date">Oldest</option>
							<option value="h_price">Highest Price</option>
						<option value="l_price">Lowest Price</option>
						</select>
					<button type="submit">Sort</button>
				</form>
			</div>
		</div>
<!-- shoe column -->
		<div class="col-12 col-md-9 collection">
			<% @shoes.each do |shoe| %>
			<%= link_to shoe_path(shoe) do %>
			<div class="shoe-container" style=
				"background-image: url(<%= shoe.image_url %>)">
				<div class="shoe-caption">
					<p><span class="bold"><%= shoe.name %></span></p>
					<p><%= shoe.brand.name %></p>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>