<h1> Owner's Shoes collection </h1>

<form method="GET" action="/owners/<%= @id %>">
	<label>Sort By: </label>
	<select name="sort">
	  <!-- <option value="">Sort By</option>
	  <option value="id">Id</option>
	  <option value="caption">Caption</option> -->
	  <option value="r_date">Recent</option>
	  <option value="o_date">Oldest</option>
	  <option value="price">Price</option>
	</select>
	<button type="submit">Sort</button>
</form>
<br>

<% @shoes.each do |shoe| %>
	<p> Owner: <%= shoe.user.name %>
	<p> Name: <%= shoe.name %> </p>
	<p> Brand: <%= shoe.brand.name %> </p>
	<p> Size: <%= shoe.size.size %> </p>
	<p> Colour: <%= shoe.color %> </p>
	<p> Release year: <%= shoe.release_year %> </p>
	<p> Price: $<%= shoe.cost_price %> </p>
	<p> Description: <%= shoe.description %> </p>
	<% if user_signed_in? && current_user.id == shoe.user.id %>
	<p> <%= link_to 'Show', shoe_path(shoe) %> || <%= link_to 'Edit', edit_shoe_path(shoe) %> || <%= link_to 'Delete', shoe_path(shoe), method: :delete, data: {confirm: 'Are you sure you want to delete???'} %> </p>
	<% end %>
	<br>
<% end %>

<%= link_to 'Back', shoes_path %>