<%= render "layouts/header" %>

<div class="collection-owner">
	<h2><%= @owner[0].name %>'s Collection</h2>
</div closing collection-owner name>

<div class="owner-main-content container-fluid">
	<div class="row">
<!-- filter column -->
		<div class="col-12 col-md-3 filter">


			<div class="filter-header">
				<h1>SORT</h1>
			</div>

			<div class="sort-form-container">
				<%= render "layouts/sortform" %>
			</div close sort form container>


			<div class="filter-header">
				<h1>FILTER</h1>
			</div>
			<p>
  			<button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
   		 		Open Filters
  			</button>
			</p>
			<div class="collapse" id="collapseExample">
			  <div class="card card-body">
					<div class="filter-form-container">
						<%= render "layouts/filterform" %>
					</div close filter-form-container>
			  </div>
			</div>
		</div close filter column>
<!-- shoe column -->
		<div class="col-12 col-md-9 collection">
			<% @shoes.each do |shoe| %>
				<%= link_to shoe_path(shoe) do %>
				<div class="shoe-container" style=
					"background-image: url(<%= shoe.first_image_url %>)">
					<div class="shoe-caption">
						<p><span class="bold"><%= shoe.name %></span></p>
						<p><%= shoe.brand.name %></p>
					</div close shoe-caption>
				</div close shoe-container>
				<% end %>
			<% end %>
		</div close shoe column>
	</div close row>
	<!-- not sure where container ending div is..? -->