<h1> Add new shoe</h1>

<%= form_with scope: :upshoes, url: upcoming_shoes_path, local: true do |form| %>

	<p> Brand: <%= form.collection_select :brand_id, @brands, :id, :name %> </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :release_date %><br>
    <%= form.text_field :release_date %>
  </p>

  <p>
    <%= form.label :retail_price %><br>
    <%= form.text_field :retail_price %>
  </p>

  <p>
    <%= form.label :image_url %><br>
    <%= form.text_field :image_url %>
  </p>


  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', homes_path %>