<%= render "layouts/header" %>

<br/>
<!-- remove and apply margin later -->

<section class="blog-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7 feature-article-col">
				<div class="feature-article-wrapper" style=
				"background-image: url(<%= @blogs[0].image_url %>)">
					<div class="feature-article-inner">
						<div class="feature-article-title">
              <h3><a href="lol.html" target="_self"><%= @blogs[0].title %></a></h3>
          	</div close feature article title>

          	<div class="feature-article-date">
              <p><a href="lol.html" target="_self"><%= @blogs[0].created_at.strftime("%B %e, %Y	") %></a></p>
          	</div close feature article date>
					</div close feature article inner>
				</div close feature article wrapper>
			</div close feature article col>

			<div class="col-md-5 feature-article-col">
			<div class="feature-article-wrapper" style=
				"background-image: url(<%= @blogs[1].image_url %>)">
					<div class="feature-article-inner">
						<div class="feature-article-title">
              <h3><a href="lol.html" target="_self"><%= @blogs[1].title %></a></h3>
          	</div close feature article title>

          	<div class="feature-article-date">
              <p><a href="lol.html" target="_self"><%= @blogs[1].created_at.strftime("%B %e, %Y	") %></a></p>
          	</div close feature article date>
					</div close feature article inner>
				</div close feature article wrapper>
			</div close second article col>

		</div close blog row>
	</div close blog container>
</section close blog section>