<%= render "layouts/header" %>

<!-- blog -->
	<div class="container-fluid blog">
		<div class="row">
			<div class="col-md-7 px-0 feature-article-col">
				<div class="feature-article-wrapper" style=
				"background-image: url(<%= @blogs[5].image_url %>)">
					<div class="article-inner">
						<div class="feature-article-title">
              <h1><a href="lol.html" target="_self"><%= @blogs[5].title %></a></h1>
          	</div close feature article title>

          	<div class="feature-article-date">
              <p><a href="lol.html" target="_self"><%= @blogs[5].created_at.strftime("%B %e, %Y	") %></a></p>
          	</div close feature article date>
					</div close article inner>
				</div close feature article wrapper>
			</div close feature article col>

			<div class="col-md-5 px-0 side-article-col">
			<div class="side-article-wrapper" style=
				"background-image: url(<%= @blogs[2].image_url %>)">
					<div class="article-inner">
						<div class="feature-article-title">
              <h3><a href="lol.html" target="_self"><%= @blogs[2].title %></a></h3>
          	</div close feature article title>

          	<div class="feature-article-date">
              <p><a href="lol.html" target="_self"><%= @blogs[2].created_at.strftime("%B %e, %Y	") %></a></p>
          	</div close feature article date>
					</div close feature article inner>
				</div close feature article wrapper>

				<div class="side-article-wrapper" style=
				"background-image: url(<%= @blogs[4].image_url %>)">
					<div class="article-inner">
						<div class="feature-article-title">
              <h3><a href="lol.html" target="_self"><%= @blogs[4].title %></a></h3>
          	</div close feature article title>

          	<div class="feature-article-date">
              <p><a href="lol.html" target="_self"><%= @blogs[4].created_at.strftime("%B %e, %Y	") %></a></p>
          	</div close feature article date>
					</div close feature article inner>
				</div close feature article wrapper>
			</div close side article col>
		</div close blog row>
	</div close blog container>

<!-- upcoming sneaker releases -->
<div class="section-header">
	<h2>Sneak Peeks: Upcoming Drops</h2>
</div>

<div class="container-fluid releases">
	<div class="row">
		<div class="card-group">

			<div class="card border-light mx-2">
				<img class="card-img-top" src= "<%= @upcoming_shoes[0].image_url %>" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"><%= @upcoming_shoes[0].name %></h5>
				</div close card body>
				<div class="card-footer">
					<p><span class="bold">Drop Date:</span> <%= @upcoming_shoes[0].release_date %></p>
				</div close card footer>
			</div close card>

			<div class="card border-light">
				<img class="card-img-top" src="<%= @upcoming_shoes[1].image_url %>" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"><%= @upcoming_shoes[1].name %></h5>
				</div close card body>
				<div class="card-footer">
					<p><span class="bold">Drop Date:</span> <%= @upcoming_shoes[1].release_date %></p>
				</div close card footer>
			</div close card>

			<div class="card border-light mx-2">
				<img class="card-img-top" src="<%= @upcoming_shoes[3].image_url %>" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"><%= @upcoming_shoes[3].name %></h5>
				</div close card body>
				<div class="card-footer">
					<p><span class="bold">Drop Date:</span> <%= @upcoming_shoes[3].release_date %></p>
				</div close card footer>
			</div close card>
		</div close card group>
	</div close new releases row>
</div close release container>

<!-- feature owner collections -->
<div class="section-header">
	<h2>Featured User Collections</h2>
</div>
<div class="container-fluid user-collections">
	<div class="row">

		<!-- start do loop here -->
		<div class="col-md-4">
			<div class="card-container manual-flip">
				<div class="card">
					<div class="front d-flex justify-content-center">
						<div class="profile-pic">
							<img src="https://images-na.ssl-images-amazon.com/images/I/81PuQW8htIL._SX425_.jpg" class="rounded-circle">
						</div> <!-- end profile pic -->

						<div class="username">
							<h2>@SampleUser</h2>
						</div>

						<div class="container user-stats">
							<div class="row d-flex justify-content-center align-items-center">
								<div class="col-6 stat-col">
									<h4><span class="stat-header">Shoes in Collection</span> 89</h4>
								</div><!-- close first stats col -->

								<div class="col-6 stat-col">
									<h4><span class="stat-header">Value of Collection</span> $459</h4>
								</div><!-- close first stats col -->
							</div> <!-- end stats row -->
						</div> <!-- close stats container -->

						<div class="footer">
							<button class="btn btn-primary" onclick="rotateCard(this)"><p>Click to preview collection</p></button>
						</div> <!-- end footer -->
					</div> <!-- end front panel -->

				  <div class="back d-flex flex-wrap">

						<div class="visit-button-container">
							<button class="visit-button"><%= image_tag("view.png") %><p>VIEW ALL</p></button>
							<!-- add in link to user collection for buttons -->
						</div>

				  	<div class="collection-square" style=
				"background-image: url(https://media.hypedc.com/media/catalog/product/cache/1/small_image/750x/9df78eab33525d08d6e5fb8d27136e95/_/o/_o8a6348_baseline.jpg)">
				  	</div>
				  	<div class="collection-square" style=
				"background-image: url(https://s1.r29static.com//bin/entry/2b2/0,0,2000,1050/x,80/2113506/image.jpg)">
				  	</div>
						<div class="collection-square" style=
				"background-image: url(https://images.puma.net/images/366418/04/sv01/fnd/AUS/w/1000/h/1000/bg/255,255,255)">
				  	</div>
				  	<div class="collection-square" style=
				"background-image: url(https://c.static-nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/mbmn4yusr7kkkndboc94/joyride-run-flyknit-womens-running-shoe-ZPRFSV.jpg)">
				  	</div>

						<div class="footer">
							<button class="btn btn-primary" title="Flip Card" onclick="rotateCard(this)"><p>Back to Profile</p></button>
						</div>	<!-- end footer -->
					</div> <!-- end back panel -->
				</div> <!-- end card -->
			</div> <!-- end card-container -->
		</div> <!-- close user column -->

			<!-- end do loop -->

	</div> <!-- close user collection row -->
</div> <!-- close user collection container -->