<%= render "layouts/header" %>
<h1> homepage </h1>


<h2> Blogs </h2>
<% @blogs.each do |blog| %>
	<p> Image: <%=blog.image_url%></p>
	<p> Title: <%=blog.title%> </p>
	<p>	Content: <%=blog.content%></p>
<br>
<% end %>

<br>
<h2> New releases </h2>
<br>

<h2> Featured Sneakers collection </h2>

<% @shoes[0,3].each do |shoe| %>
	<p>Shoe image: <%= shoe.first_image_url %> </p>
	<p>Shoe name: <%= shoe.name %> </p>
	<p>Shoe description: <%= shoe.description %> </p>
	<%= link_to 'Show this shoe', shoe_path(shoe) %>
	<br>
<% end %>


<h2> Featured Owners collection </h2>
<% @shoes[0,3].each do |shoe| %>
	<p>Onwer picture: <%= shoe.user.image_url %> </p>
	<p>Owner: <%= shoe.user.name %> </p>
	<%= link_to 'Show this collection', owner_path(shoe.user.id) %>
<% end %>