<%= render "layouts/header" %>

<!-- blog -->
	<div class="container-fluid blog">
		<div class="row">
			<div class="col-md-7 px-0 feature-article-col">
				<div class="feature-article-wrapper" style=
				"background-image: url(<%= @blogs[0].image_url %>)">
					<div class="article-inner">
						<div class="feature-article-title">
              <h1><a href=" <%= blog_path(@blogs[0].id) %>" target="_self"><%= @blogs[0].title %></a></h1>
          	</div close feature article title>

          	<div class="feature-article-date">
              <p><a href="lol.html" target="_self"><%= @blogs[0].created_at.strftime("%B %e, %Y	") %></a></p>
          	</div close feature article date>
					</div close article inner>
				</div close feature article wrapper>
			</div close feature article col>

			<div class="col-md-5 px-0 side-article-col">
			<div class="side-article-wrapper" style=
				"background-image: url(<%= @blogs[1].image_url %>)">
					<div class="article-inner">
						<div class="feature-article-title">
              <h3><a href="<%= blog_path(@blogs[1].id) %>" target="_self"><%= @blogs[1].title %></a></h3>
          	</div close feature article title>

          	<div class="feature-article-date">
              <p><a href="lol.html" target="_self"><%= @blogs[1].created_at.strftime("%B %e, %Y	") %></a></p>
          	</div close feature article date>
					</div close feature article inner>
				</div close feature article wrapper>

				<div class="side-article-wrapper" style=
				"background-image: url(<%= @blogs[2].image_url %>)">
					<div class="article-inner">
						<div class="feature-article-title">
              <h3><a href="<%= blog_path(@blogs[2].id) %>" target="_self"><%= @blogs[2].title %></a></h3>
          	</div close feature article title>

          	<div class="feature-article-date">
              <p><a href="lol.html" target="_self"><%= @blogs[2].created_at.strftime("%B %e, %Y	") %></a></p>
          	</div close feature article date>
					</div close feature article inner>
				</div close feature article wrapper>
			</div close side article col>
		</div close blog row>
	</div close blog container>

<!-- upcoming sneaker releases -->
<div class="section-header">
	<h2>Sneak Peeks: Upcoming Drops</h2>
</div>
<div class="container-fluid releases">
	<div class="row">
		<div class="card-group">
			<% @upcoming_shoes.shuffle[0,3].each do |upcoming_shoe| %>
			<div class="card border-light mx-2">
				<img class="card-img-top" src= "<%= upcoming_shoe.image_url %>" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"><%= upcoming_shoe.name %></h5>
				</div close card body>
				<div class="card-footer">
					<p><span class="bold">Drop Date:</span> <%= upcoming_shoe.release_date %></p>
				</div close card footer>
			</div close card>
			<% end %>
		</div close new releases row>
	</div close release container>

<!-- feature owner collections -->
<div class="section-header">
	<h2>Featured User Collections</h2>
</div>

<div class="container-fluid user-collections">
	<div class="row">

		<% @shoes.select(:user_id).distinct[0,3].each do |shoe| %>
		<div class="col-md-4">
			<div class="card-container manual-flip">
				<div class="card">
					<div class="front d-flex justify-content-center">
						<div class="profile-pic">
							<img src="<%= shoe.user.image_url %>" class="rounded-circle">
						</div> <!-- end profile pic -->
						<div class="username">
							<h2>@<%= link_to shoe.user.name, owner_path(shoe.user.id) %></h2><br>
						</div>
						<div class="container user-stats">
							<div class="row d-flex justify-content-center align-items-center">
								<div class="col-6 stat-col">
									<h4><span class="stat-header">Shoes in Collection</span><%= link_to @shoes.where(user_id: shoe.user.id).count, owner_path(shoe.user.id) %></h4>
								</div><!-- close first stats col -->
								<div class="col-6 stat-col">
									<h4><span class="stat-header">Value of Collection</span><%= @shoes.where(user_id: shoe.user.id).sum(:cost_price)%></h4>
								</div><!-- close first stats col -->
							</div> <!-- end stats row -->
						</div> <!-- close stats container -->
						<div class="footer">
							<button class="btn btn-primary" onclick="rotateCard(this)"><p>Click to preview collection</p></button>
						</div> <!-- end footer -->
					</div> <!-- end front panel -->

					<div class="back">
						<div class="back d-flex flex-wrap">
<!--
							<div class="visit-button-container">
								<%= link_to 'View all collection', owners_path %>
									<button class="visit-button"><%= image_tag("view.png") %><p>VIEW ALL</p></button>
							</div> -->

							<% @shoes.where(user_id: shoe.user.id).each do |shoe| %>
								<div class="collection-square" style=
									"background-image: url(<%= shoe.first_image_url %>);">
								</div>
							<% end %>
						</div>
						<div class="footer">
							<button class="btn btn-primary" title="Flip Card" onclick="rotateCard(this)"><p>Back to Profile</p></button>
							</div>	<!-- end footer -->
						</div> <!-- end back panel -->
					</div> <!-- end card -->
				</div> <!-- end card-container -->
			</div> <!-- close user column -->
		<% end %>
		</div> <!-- close user collection row -->
	</div> <!-- close user collection container -->