
<div class="row">

  <div class="d-none d-md-block col-md-6 sign-in">
    <%=image_tag("sign-in.jpeg")%>
  </div>

  <div class="col-11 col-md-6 sign-in">
		<div class="container">
			<div class="user-logo">
				<%=image_tag("logo.png")%>
			</div>
			<br/>
			<h2 class="my-3 font-weight-bold">Log in</h2>

			<div class="row">
				<div class="col-11 col-md-5">
					<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal") do |f| %>

				  	<div class="form-group">
				    	<%= f.label :email %><br />
				    	<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
				  	</div>

				  	<div class="form-group">
				   		<%= f.label :password, class: "control-label"%><br />
				    	<%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
				  	</div>

				  	<% if devise_mapping.rememberable? %>
				    	<div class="form-group">
				      	<%= f.check_box :remember_me %>
				      	<%= f.label :remember_me, class: "control-label" %>
				    	</div>
				  	<% end %>

				  	<div class="form-group">
				    	<%= f.submit "Log in", class: 'btn btn-primary' %>
				  	</div>
					<% end %>
				</div>
			</div>

			<%= render "devise/shared/links" %>
		</div>

  </div>
</div>