<div class="card mb-3" style= "max-width: 30%">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="<%= shoe.first_image_url %>" class="card-img img-responsive" alt="shoe-image">
				</div close image col>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title"><a href="<%= shoe_path(shoe.id) %>" target="_self"><%= shoe.name %></a></h5>
						<p class="card-text">Owner: <a href="<%= owner_path(shoe.user_id) %>" target="_self"><%= shoe.user.name %></a> || Size: <%= shoe.size.size %></p>
					</div close card body>
				</div close text col>
			</div close row>
		</div close card>