<h1> Shoe index page </h1>

<% if user_signed_in? %>
	<p><%= link_to 'Add new shoe', new_shoe_path %> || <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
	<h4> Youre signed in as: <%= current_user.name %></h4>

<% else %>
	<%= link_to 'User Sign in', new_user_session_path %>
<% end %>

<% @shoes.each_with_index do |shoe, i| %>
	<p> Owner: <%= link_to shoe.user.name , owner_path(shoe.user_id) %>
	<br>

<% end %>
<br>
<%= link_to "All owners' collections", owners_path %>