<h1> Individual shoe page (show page) </h1>


<p> Name: <%= @shoe.name %> </p>
<p> Brand: <%= @shoe.brand.name %> </p>
<p> Size: <%= @shoe.size.size %> </p>
<p> Colour: <%= @shoe.color %> </p>
<p> Release year: <%= @shoe.release_year %> </p>
<p> Price: $<%= @shoe.cost_price %> </p>
<p> Description: <%= @shoe.description %> </p>

<p> <%= link_to 'Back', shoes_path %> </p>