<%= render "layouts/header" %>

<div class="shoe-main-content container">

	<div class="row d-flex align-items-center">

		<div class="col-12 col-md-6 offset-md-1">
			<div class="shoe-picture" style=
				"background-image: url(<%= @shoe.image_url %>)">
			</div close shoe picture div>
		</div close shoe picture+ name div>

		<div class="col-12 col-md-4 ofset-md-0.5">
			<h3><%= @shoe.name %></h3>
			<ul>
				<li><p><span class="bold">Brand:</span> <%= @shoe.brand.name %></p></li>
				<li><p><span class="bold">Style:</span> <%= @shoe.style %> </p></li>
				<li><p><span class="bold">Size:</span> <%= @shoe.size.size %> </p></li>
				<li><p><span class="bold">Colour:</span> <%= @shoe.color %> </p></li>
				<li><p><span class="bold">Release Year:</span> <%= @shoe.release_year %></p></li>
				<li><p><span class="bold">Price:</span> $<%= @shoe.cost_price.tr('$', '') %></p></li>
			</ul>

			<% if user_signed_in? && current_user.id == @shoe.user.id %>

        <%= link_to edit_shoe_path(@shoe) do %>
        	<button>Edit</button>
      	<% end %>

      	<%= link_to shoe_path(@shoe), method: :delete, data: {confirm: 'Are you sure you want to delete?'} do %>
        	<button>Delete</button>
      	<% end %>
      <% end %>

		<%= button_to "Back to Collection", owner_path(@shoe.user_id), method: :get %>

		</div close shoe description div>
	</div close row>
</div close main container>